export XMODIFIERS=@im=fcitx
export QT_IM_MODULE=fcitx
export GTK_IM_MODULE=fcitx
[ -z $QT_QPA_PLATFORMTHEME ] && export QT_QPA_PLATFORMTHEME=qt5ct
export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true"
setxkbmap -option terminate:ctrl_alt_bksp
setxkbmap -option caps:ctrl_modifier
xset s off -dpms

for i in /usr/share/fonts/* ; do
	xset fp+ $i
done

xrdb ~/.Xresources
xsetroot -cursor_name left_ptr
feh --randomize --bg-fill ~/Wallpaper/
